<div class="row index__container mb-3">
  <div class="col h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="p-5">
        <p>
          La webapp fornisce elenco e ubicazione di Punti di Accesso ai Wifi
          territoriali gestiti da Pasubio Tecnologia.
        </p>
        <p>
          I Punti di Accesso ai Wifi territoriali permettono, previa
          registrazione, la navigazione gratuita in internet.
        </p>

        <div>
          <p>Tramite la webapp è possibile</p>
          <ul>
            <li>digitando una parola chiave (es. “Schio”, ...)</li>
            <li>per posziione</li>
          </ul>
        </div>
      </div>
      <div class="flex-grow-1"></div>
    </div>
  </div>
</div>
